/* toc */
.s-toc {
    border: 1px solid #aaa;
    background: #f9f9f9 none repeat scroll 0 0;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    margin: 0.5rem 0;
    color: #555;
    box-sizing: border-box;
}
.s-toc li, .s-toc ul, .s-toc ul li{
    list-style: outside none none !important;
    box-sizing: inherit;
}
.s-toc ul{
    padding-left: 1.5em;
}
.s-toc>ul{
    padding: 0 !important;
    margin: 0 !important;
}
.s-toc a{
    text-decoration: none;
    color: #007bff;
}
.s-toc a:hover{
    text-decoration: underline;
    color: #0056b3;
}