.container pre {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 9px;
}

.container .content {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 9px;
}